 html {
            background-image : linear-gradient(to bottom,#f5ebfa,#e7dbef,#a56abd,#6e3482);
            height: 100%;
 }
 .prvi{
    height: 200px;
    width: 500px;
    background-color: #f5ebfa;
    border-radius: 500px;
    margin-left: 730px;
    margin-top: -300px;
    position: absolute;
 }
 .drugi{
    height: 200px;
    width: 500px;
    background-color: #e7dbef;
    border-radius: 500px;
    margin-left: 730px;
    margin-top:-300px;
    position: absolute;
 }
 .treci{
    height: 200px;
    width: 500px;
    background-color: #a56abd;
    border-radius: 500px;
    margin-left: 550px;
    margin-top: 490px;
    position: absolute;
 }
 .cetvrti{
    height: 200px;
    width: 500px;
    background-color: #6e3482;
    border-radius: 500px;
    margin-left: 550px;
    margin-top: 300px;
    position: absolute;
 }
 .peti{
    height: 200px;
    width: 500px;
    background-color: #492258;
    border-radius: 500px;
    margin-left: 550px;
    margin-top: 200px;
    position: absolute;
 }