
body{
    font-family: Arial, sans-serif;
}

.gore{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.slika1{
    width: 400px;
    height: 300px;
}

.def{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #2D3464;
    border: 4px solid #111;
}

.boja1{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 70px;
    background-color: #DAB897;
}

.boja2{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 140px;
    background-color: #DAB897;
    border-radius: 260px 260px 0 0;
}

.boja3{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 80px;
    background-color: #2D3464;
}

.boja{
    display: none;
}

.dolje{
    position: relative;
}

.karticas{
    width: 500px;
    height: 300px;
}

.def1{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;
    border: 3px solid black;
}

.sve{
    position: relative;
    width: 100%;
    height: 100%;
}

.ljudi{
    position: absolute;
    top: 40px;
    left: 30px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.ime{
    position: absolute;
    top: 40px;
    left: 180px;
    font-size: 20px;
}

.op1{
    position: absolute;
    top: 90px;
    left: 180px;
    color: #595959;
}

.op2{
    position: absolute;
    top: 110px;
    left: 180px;
    color: #595959;
}

.mail{
    position: absolute;
    top: 150px;
    left: 180px;
    color: #595959;
}

.mob{
    position: absolute;
    top: 170px;
    left: 180px;
    color: #595959;
}

.slikafb{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 180px;
    bottom: 30px;
}

.slikaig{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 260px;
    bottom: 30px;
}

.logoopis{
    position: absolute;
    left: 200px;
    bottom: 28px;
}

.fb,
.ig{
    color: #595959;
    
}

.ig{
    margin-left: 40px;
}